<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>New item</key>
		<dict>
			<key>displayName</key>
			<string>销售公司应用</string>
			<key>version</key>
			<string>3.1</string>
			<key>appid</key>
			<string>yd.s20161219112414636</string>
		</dict>
		<key>displayName</key>
		<string>销售公司应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414636</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>天津销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146123</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>江苏销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414687</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>内蒙销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414660</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>润滑油应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414645</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>山西销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146120</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>浙江销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414699</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>河北销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414672 </string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>上海销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414666</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>福建销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146117</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>贵州销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146129</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>陕西销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414681</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>湖北销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414696</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>宁夏销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146126</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>西北销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414642</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>山东销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414678</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>安徽销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146111</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>北京销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414663</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>东北销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414639</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>吉林销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414684</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>河南销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414693</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>江西销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146135</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>广东销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414657</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>海南销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146141</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>广西销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146114</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>湖南销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146108</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>重庆销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146105</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>甘肃销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414690</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>青海销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146132</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>四川销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414654</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>云南销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146102</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>新疆销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414675</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>西藏销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146138</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>燃料油应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414648</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>辽宁销售应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414651</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>黑龙江应用</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s20161219112414669</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>大连海运</string>
		<key>version</key>
		<string>3.1</string>
		<key>appid</key>
		<string>yd.s201612191124146144</string>
	</dict>
</array>
</plist>
